{% sw_extends '@Storeftont/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
            <span class="header-cart-icon">
                {% sw_icon 'bag' %}
            </span>
            {% if page.cart.lineItems|length > 0 %}
                <span class="badge bg-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
            {% endif %}
            <span class="header-cart-total d-none d-sm-inline-block">
                {{ page.cart.price.positionPrice|currency }}
            </span>

            {# Live updates of the cart will be shown by the offcanvas #}
            <span
                    class="visually-hidden"
                    id="cart-widget-aria-label"
            >
                {{ 'checkout.cartScreenReaderUpdate'|trans({
                    '%count%': page.cart.lineItems|length,
                    '%total%': page.cart.price.positionPrice|currency,
                })|sw_sanitize }}
            </span>

{% endblock %}
