{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="collapse"
         id="searchCollapse">
        <div class="header-search my-2">
           {{ parent() }}
        </div>
    </div>
{% endblock %}
