{%  sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-lg-flex align-items-center justify-content-between">
        {% block layout_header_top_bar_inner %}

            <div class="text-white">
                {% sw_icon 'package' style {
                    namespace: 'PetarisiaTheme'
                } %}
                <span class="fs-6 ms-2">
                    Shipping and free returns | 72h Delivery
                </span>
            </div>

            <div class="text-white">
                {% sw_icon 'package' style {
                    namespace: 'PetarisiaTheme'
                } %}
                <span class="fs-6 ms-2">
                    Shipping and free returns | 72h Delivery
                </span>
            </div>

            <div class="text-white">
                {% sw_icon 'package' style {
                    namespace: 'PetarisiaTheme'
                } %}
                <span class="fs-6 ms-2">
                    Shipping and free returns | 72h Delivery
                </span>
            </div>

            {% if header.languages.count > 1 or header.currencies.count > 1 %}
                <nav class="top-bar-nav d-flex justify-content-end gap-3"
                     aria-label="{{ 'header.topBarAriaLabel'|trans|striptags }}">
                    {% block layout_header_top_bar_language %}
                        {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
                    {% endblock %}


                    {% block layout_header_top_bar_currency %}
                        {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                    {% endblock %}
                </nav>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
