<div class="cta-shop">
    <div class="cta-shop__bg"></div>

    <div class="cta-shop__inner container">
        <div class="cta-shop__panel">
            <div class="petarisia-main-logo is-small">
{#                <img#}
{#                        src="{{ asset('') }}"#}
{#                        alt="Petarisia"#}
{#                        loading="lazy"#}
{#                        width="120"#}
{#                        height="auto"#}
{#                />#}



                <img src="{{ asset('bundles/petarisia/logo.png', 'asset') }}">


            </div>
            <div class="cta-shop__subtitle">
                <p><b>10% discount</b> with the code <b>- PETARISIA_BLOGS -</b></p>
                <span>Now on our online shop</span>
            </div>
        </div>
    </div>
</div>
